body {
  margin: 0;
}

#menubar {
  background-color: #d3cec7;
  position: fixed;
  right: -26vw;
  align-items: flex-end;
  padding-top: 20px;
  height: 50vh;
  width: 400px;
  z-index: 200;
  box-shadow: -4px 0px 20px 0px #888888;
}

.menu-items-holder {
  position: fixed;
  right: 80px;
  margin-top: 20px;
}

.cart-pop-up-item {
  position: fixed;
}

/*delete*/
.cart-hamburger-icon {
  position: relative;
  width: 32px;
  float: right;
  top: 100px;
  right: 20px;
  z-index: 201;
}

.show {
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transition: transform 1s cubic-bezier(0.3, 0.54, 0.22, 1.09);
  transform: translateX(-100%);
}

.hide {
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transition: transform 2.5s cubic-bezier(0.22, 1.09, 0.3, 0.54);
  transform: translateX(100%);
}

/*delete*/
.fixed {
  position: fixed;
}
