.checkout-main-container {
  position: relative;
  background-color: #eae7e1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkout-shopping-bag-container {
  margin-bottom: 72px;
}

.checkout-shopping-bag-title {
  margin-top: 140px;
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}

.checkout-container {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}

.checkout-items-list-container {
  position: relative;
  width: 56%;
  background-color: #eae7e1;
}

.checkout-items-list {
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 60px;
}

.checkout-item {
  background-color: #eae7e1;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 60px;
  border-bottom: 0.1vw solid #1f1f1f;
  margin-bottom: 60px;
}

.checkout-item-img {
  width: 28%;
  margin-right: 40px;
}

.checkout-item-img:hover {
  cursor: pointer;
}

.checkout-item-img > img {
  width: 100%;
  display: block;
}

.checkout-item-delete {
  width: 4%;
  position: absolute;
  right: 0;
}

.checkout-item-delete:hover {
  cursor: pointer;
}

.checkout-summary-container {
  position: relative;
  width: 44%;
  background-color: #eae7e1;
  height: 600px;
}

.checkout-summary {
  padding: 40px;
  width: 64%;
  background-color: #d3cec7;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.checkout-summary-title {
  border-bottom: 0.1vw solid #1f1f1f;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.checkout-summary-note {
  border-bottom: 0.1vw solid #1f1f1f;
  padding-bottom: 48px;
  margin-bottom: 24px;
}

.checkout-summary-note-title {
  margin-bottom: 12px;
}

.checkout-summary-note-description {
  margin-bottom: 24px;
}

.checkout-summary-note-textbox {
  width: 100%;
}

.checkout-summary-note-textbox > textarea {
  padding: 0;
  width: 100%;
  font-size: 24px;
  border: none;
  height: 120px;
  resize: none;
}

.checkout-summary-note-textbox > textarea:hover,
.checkout-summary-note-textbox > textarea:active,
.checkout-summary-note-textbox > textarea:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.checkout-summary-subtotal {
  margin-bottom: 24px;
}

.checkout-summary-subtotal > h3 {
  font-size: 2.5vw;
  letter-spacing: 4px;
  margin: 24px 0;
}

.checkout-summary-button {
  width: 80%;
  text-align: center;
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  border-width: thin;
  letter-spacing: 0.15vw;
  padding: 0.15vw 0vw;
  background-color: #fefefe;
}

.checkout-summary-button:hover {
  cursor: pointer;
}

.checkout-payment-container {
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.checkout-title {
  text-align: center;
}

.checkout-shipping-info-container {
  width: 100%;
}

.checkout-shipping-info-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.checkout-shipping-info-col1,
.checkout-shipping-info-col2 {
  display: flex;
  flex-direction: column;
  width: 44%;
}

input {
  height: 32px;
  background-color: #eae7e1;
  border: solid;
  border-width: thin;
  padding-right: 0;
}

input:focus {
  background-color: #fefefe;
}

.shipping-state-and-zip-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.shipping-state {
  width: 20%;
}

.shipping-zip {
  width: 40%;
  position: absolute;
  right: 0;
}

.checkout-shipping-info-method {
  margin-top: 60px;
}

.checkout-shipping-option {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.shipping-option {
  width: 24px;
  position: relative;
  transform: translateY(50%);
  margin-right: 24px;
  background-color: #d3cec7;
  color: #d3cec7;
}

.checkout-billing-info-container {
  width: 100%;
}

.checkout-billing-info-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.checkout-billing-info-col1,
.checkout-billing-info-col2 {
  display: flex;
  flex-direction: column;
  width: 44%;
}

.billing-state-and-zip-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.billing-state {
  width: 20%;
}

.billing-zip {
  width: 40%;
  position: absolute;
  right: 0;
}

.checkout-payment-order-summary-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.checkout-payment-info-container {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 120px;
}

.checkout-payment-info-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkout-payment-info {
  display: flex;
  flex-direction: column;
  width: 44%;
}

.payment-exp-cvv-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.payment-exp-date {
  width: 40%;
}

.payment-cvv {
  width: 20%;
  position: absolute;
  right: 0;
}

.checkout-complete-purchase-button {
  margin-top: 80px;
  text-align: center;
  width: 52%;
  position: relative;
  border-width: thin;
  letter-spacing: 0.15vw;
  padding: 0.3vw 0vw;
  background-color: #d3cec7;
}

.checkout-complete-purchase-button:hover {
  cursor: pointer;
}

.checkout-order-summary {
  position: relative;
  padding: 40px;
  width: 80%;
  bottom: 48px;
  background-color: #d3cec7;
}

.checkout-order-summary-title {
  border-bottom: 0.1vw solid #1f1f1f;
  padding-bottom: 24px;
  margin-bottom: 48px;
}

.checkout-order-summary-note {
  border-bottom: 0.1vw solid #1f1f1f;
  padding-bottom: 48px;
  margin-bottom: 24px;
}

.checkout-order-summary-note-title {
  margin-bottom: 12px;
}

.checkout-order-summary-discount-code {
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkout-order-summary-discount-code > input {
  width: 76%;
  background-color: #d3cec7;
}

.checkout-order-discount-code-add-button {
  text-align: center;
  width: 16%;
  position: relative;
  border-width: thin;
  letter-spacing: 0.15vw;
  padding: 0.15vw 0vw;
  background-color: #fefefe;
}

.checkout-order-discount-code-add-button:hover {
  cursor: pointer;
}

.checkout-order-summary-details {
  margin-bottom: 24px;
  border-bottom: 0.1vw solid #1f1f1f;
  padding-bottom: 48px;
}

.checkout-order-summary-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkout-order-summary-details > h3 {
  font-size: 2.5vw;
  letter-spacing: 4px;
  margin: 24px 0;
}

.checkout-order-summary-total {
  margin-bottom: 24px;
}

.checkout-order-summary-total > h3 {
  font-size: 2.5vw;
  letter-spacing: 4px;
  margin: 24px 0;
}
