body {
  margin: 0;
}

.mobile-logo {
  position: absolute;
  top: 24px;
  left: 20px;
  width: 60px;
  z-index: 200;
}

#menubar {
  background-color: white;
  position: fixed;
  right: 0;
  float: right;
  align-items: flex-end;
  padding-top: 20px;
  height: 100vh;
  width: 148px;
  z-index: 200;
  box-shadow: -4px 0px 20px 0px #888888;
}

.menu-items-holder {
  position: fixed;
  right: 0;
}

.hamburger-icon {
  position: absolute;
  width: 32px;
  float: right;
  top: 20px;
  right: 20px;
  z-index: 201;
}

#hamburger-icon {
  fill: #d3cec7;
}

.menubar-text {
  color: black;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  text-align: right;
}

.menubar-text h4 {
  font-size: 12px;
  letter-spacing: 1.5px;
}

.hide {
  /* display:block; */
  display: none;
}

.fixed {
  position: fixed;
}
