.overlay-form-input-container input[type='text'] {
  color: #1f1f1f;
  padding: 0.5vw;
  margin: 0.4vw 0vw;
  outline: none;
  font-size: 1.2vw;
  width: 16vw;
}

.subscribe-form-overlay-submit-btn {
  color: #fefefe;
  border: solid;
  border-width: thin;
  position: relative;
  width: 12vw;
  padding: 0.4vw 1vw;
  margin: 0vw;
  text-align: center;
  left: 14%;
  top: 1vw;
}

.subscribe-form-overlay-submit-btn h4 {
  font-size: 1vw;
  letter-spacing: 0.2vw;
}

.subscribe-form-overlay-flash-msg {
  text-align: center;
  position: relative;
  width: 15vw;
  top: 2vw;
  left: 2.5vw;
}

.subscribe-form-overlay-flash-msg h4 {
  font-size: 0.75vw;
  color: #fefefe;
}

.subscribe-form-overlay-submit-btn:hover {
  cursor: pointer;
}

@media (max-width: 480px) {
  .overlay-form-input-container {
    width: 100%;
  }

  .overlay-form-input-container input[type='text'] {
    color: #1f1f1f;
    padding: 2vw;
    margin: 2vw 0vw;
    outline: none;
    font-size: 3vw;
    width: 52vw;
  }

  .subscribe-form-overlay-submit-btn {
    color: #fefefe;
    border: solid;
    border-width: thin;
    width: 36vw;
    padding: 0.75vw 1.5vw;
    text-align: center;
    margin: 8vw;
    left: 0vw;
  }

  .subscribe-form-overlay-submit-btn h4 {
    font-size: 12px;
    letter-spacing: 0.3vw;
  }

  .subscribe-form-overlay-flash-msg {
    align-self: center;
    text-align: center;
    position: relative;
    width: 60vw;
    top: -5vw;
    left: -2vw;
    overflow-wrap: break-word;
  }

  .subscribe-form-overlay-flash-msg h4 {
    font-size: 10px;
    color: #fefefe;
  }
}
