.staff-main-container {
  position: absolute;
  background-color: #eae7e1;
  width: 100vw;
  overflow-x: hidden;
}

.staff-top-container {
  position: relative;
  /* background-color: #d3cec7; */
  width: 100vw;
  height: 49vw;
  display: flex;
  flex-direction: row;
}

.staff-top-container > * {
  position: relative;
  /* left: 50%; */
  top: 50%;
  transform: translateY(-50%);
}

.staff-caption-container {
  position: relative;
  width: 40.7vw;
  height: 23.5vw;
  border-right: 0.1vw solid #1f1f1f;
}

.staff-caption {
  position: absolute;
  left: 9.4vw;
  top: 50%;
  transform: translateY(-50%);
}

.staff-description {
  position: absolute;
  width: 43vw;
  left: 47.5vw;
}

.ceo-container {
  position: relative;
  width: 100%;
  padding-bottom: 30vw;
}

.ceo-title,
.ceo-profile {
  position: relative;
  left: 15.5vw;
  top: 8.5vw;
  width: 25vw;
  margin-bottom: 2vw;
}

.ceo-image {
  position: absolute;
  left: 50vw;
  top: -4vw;
  width: 30vw;
  z-index: 2;
}

.ceo-blank-image-box {
  position: absolute;
  width: 23.5vw;
  height: 41vw;
  right: 0vw;
  top: 17.5vw;
  background-color: #d3cec7;
}

.vp-container {
  position: relative;
  width: 100%;
  padding-bottom: 10vw;
}

.vp-title,
.vp-profile {
  position: relative;
  width: 30vw;
  margin-bottom: 2vw;
  left: 50%;
  z-index: 2;
}

.vp-image {
  position: absolute;
  width: 30vw;
  left: 16vw;
  top: -10vw;
  z-index: 2;
}

.vp-blank-image-box {
  position: absolute;
  width: 42vw;
  height: 30vw;
  left: 42vw;
  top: 8vw;
  background-color: #fefefe;
}

.marketing-container {
  position: relative;
  width: 100%;
  padding-bottom: 50vw;
  margin-top: 5vw;
  border: none;
}

.marketing-title {
  position: relative;
  width: 30vw;
  margin-bottom: 2vw;
  left: 13vw;
}

.marketing1-name,
.marketing1-bio {
  position: relative;
  width: 41vw;
  left: 13vw;
  top: 45vw;
}

.marketing1-name {
  position: absolute;
  width: 35vw;
  left: 47vw;
  top: 8vw;
}

.marketing1-bio {
  position: absolute;
  width: 45vw;
  left: 47vw;
  top: 11vw;
}

.marketing1-image {
  position: absolute;
  left: 13vw;
  width: 25vw;
  top: 8vw;
  z-index: 2;
}

.marketing2-name,
.marketing2-bio {
  position: relative;
  width: 41vw;
  left: 20vw;
  top: 48vw;
}

.marketing2-image {
  position: absolute;
  left: 64vw;
  width: 25vw;
  top: 35vw;
}

.marketing-blank-image-box {
  position: absolute;
  width: 16vw;
  height: 37vw;
  left: 0;
  top: 36vw;
  background-color: #d3cec7;
}

.design-team-container {
  position: relative;
  width: 100vw;
  height: 80vw;
}

.design-title {
  position: relative;
  left: 5vw;
  top: 5vw;
}

.design-members-container {
  position: absolute;
  width: 90vw;
  top: 13vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.design-members-container > * {
  width: 25vw;
  padding: 0 1.5vw;
}

.design1-profile > *,
.design2-profile > *,
.design3-profile > * {
  margin-top: 1.5vw;
}

.design-blank-image-box {
  position: absolute;
  width: 20vw;
  height: 30vw;
  background-color: #fefefe;
  top: 25vw;
  right: 0;
  z-index: 1;
}

.ops-comm-container {
  position: relative;
  width: 100%;
  padding-bottom: 50vw;
  margin-top: 10vw;
  border: none;
}

.ops-title {
  position: relative;
  width: 30vw;
  margin-bottom: 2vw;
  left: 13vw;
}

.ops1-name,
.ops1-bio {
  position: relative;
  width: 41vw;
  left: 11vw;
  top: 45vw;
}

.ops1-name {
  position: absolute;
  width: 35vw;
  left: 47vw;
  top: 8vw;
}

.ops1-bio {
  position: absolute;
  width: 45vw;
  left: 47vw;
  top: 11vw;
}

.ops1-image {
  position: absolute;
  left: 13vw;
  width: 25vw;
  top: 8vw;
  z-index: 2;
}

.ops-blank-image-box {
  position: absolute;
  background-color: #d3cec7;
  left: 0;
  width: 23vw;
  height: 25vw;
  top: 36vw;
}

.comm-title {
  position: relative;
  width: 30vw;
  margin-bottom: 2vw;
  left: 15vw;
  top: 45vw;
  z-index: 2;
}

.comm1-name,
.comm1-bio {
  position: relative;
  width: 45vw;
  left: 15vw;
  top: 45vw;
}

.comm1-image {
  position: absolute;
  left: 64vw;
  width: 25vw;
  top: 50vw;
}

.connect-container {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vw;
}

.connect-container > * {
  width: 60vw;
}

.connect-with-us {
  text-align: center;
  margin-bottom: 3vw;
}

.connect-fb,
.connect-ig,
.connect-medium {
  position: relative;
  width: 45vw;
  height: 10vw;
  display: flex;
  flex-direction: row;
  left: 1vw;
}

.connect-fb-title,
.connect-ig-title,
.connect-medium-title {
  height: 3vw;
}

.connect-fb-caption-container,
.connect-ig-caption-container,
.connect-medium-caption-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 36vw;
  height: 6vw;
}

.connect-fb-caption,
.connect-ig-caption,
.connect-medium-caption {
  height: 3vw;
}

.connect-fb-title > h4,
.connect-ig-title > h4,
.connect-medium-title > h4 {
  font-size: 1.2vw;
  width: 30vw;
  margin: 0;
}

.connect-fb-caption > h3,
.connect-ig-caption > h3,
.connect-medium-caption > h3 {
  height: 3vw;
  margin: 0;
}

.connect-fb-icon,
.connect-ig-icon,
.connect-medium-icon {
  width: 6vw;
  height: 6vw;
  opacity: 0.2;
  margin-right: 2vw;
}
