.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;

  .about-description {
    width: 50%;
    padding-right: 15px;
  }

  .about-video {
    width: 50%;
    padding-left: 15px;
  }
}
