.community {
  width: 100%;

  .community-headline-container {
    width: 100%;
    background-color: $general-grey;
    margin-bottom: $body-bottom-margin;
    padding: 60px 0;

    .community-headline {
      text-align: center;
      margin: 0 auto;
      width: 620px;

      @media (max-width: 770px) {
        width: 80%;
      }

      @media (max-width: 500px) {
        width: 90%;
      }

      p {
        color: white;
        font-size: 17px;
        line-height: 1.8;
      }

      h1 {
        color: white;
      }
    }
  }

  .missionary-body {
    padding: 0 $body-padding;

    .missionary-headline {
      width: 100%;
      margin-bottom: $body-bottom-margin;

      h3 {
        margin-top: 0;
      }
    }

    .missionary {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-bottom: $body-bottom-margin;

      &:last-child {
        margin-bottom: 0;
      }

      .missionary-profile {
        width: 50%;
        padding-right: 25px;

        img {
          width: 100%;
        }
      }

      .missionary-description {
        padding-left: 25px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
          margin-top: 0;
          margin-bottom: 14px;
        }

        p {
          margin-top: 0;
        }

        .missionary-info {
          width: 100%;
          display: flex;
          flex-direction: row;

          p {
            width: 50%;
            color: $general-grey;

            &:last-child {
              text-align: right;
            }
          }
        }
      }

      &--odd {
        .missionary-profile {
          padding-right: 0;
          padding-left: 25px;
          order: 2;
        }
        .missionary-description {
          padding-left: 0;
          padding-right: 25px;

          order: 1;
        }
      }

      @media (max-width: 830px) {
        display: block;

        .missionary-profile {
          width: 100%;
          padding: 0 50px;
          margin-bottom: 20px;
        }

        .missionary-description {
          width: 100%;
          padding: 0 50px;
        }
      }

      @media (max-width: 550px) {
        .missionary-profile {
          padding: 0 20px;
        }

        .missionary-description {
          padding: 0 20px;

          .missionary-info {
            display: block;

            p {
              width: 100%;
              text-align: left;

              &:last-child {
                text-align: left;
                margin-bottom: 14px;
              }
            }
          }
        }
      }

      @media (max-width: 450px) {
        display: block;

        .missionary-profile {
          padding: 0;
        }

        .missionary-description {
          padding: 0;
        }
      }
    }
  }
}
