@import '_shared';

.footer {
  border-top: 1px solid $hr-color;
  margin-bottom: 15px;
  padding: 0 $body-padding;
  padding-top: 46px;

  .footer__info-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 100%;

    .footer__info {
      width: 50%;

      .footer__info-text {
        font-size: 12px;
      }

      &--right {
        text-align: right;

        ul {
          margin-top: 0;

          li {
            text-decoration: none;
            list-style-type: none;
            display: inline-block;
            margin-right: 15px;

            &:last-child {
              margin-right: 0;
            }

            a {
              color: #333;

              &:hover {
                color: $general-grey;
              }
            }
          }
        }
      }
    }
  }

  .footer__copyright {
    text-align: center;
    font-size: 12px;
  }
}
