@import '_shared';

.staff {
  width: 100%;

  .staff-headline-container {
    width: 100%;
    background-color: $general-grey;
    margin-bottom: $body-bottom-margin;
    padding: 60px 0;

    .staff-headline {
      // background: url(../../images/staff/team_photo.jpg);
      text-align: center;
      margin: 0 auto;
      width: 620px;

      @media (max-width: 770px) {
        width: 80%;
      }

      @media (max-width: 500px) {
        width: 90%;
      }

      p {
        color: white;
        font-size: 17px;
        line-height: 1.8;
      }

      h1 {
        color: white;
      }
    }
  }

  .member-body {
    padding: 0 $body-padding;

    .member-headline {
      width: 100%;
      margin-bottom: $body-bottom-margin;

      h3 {
        margin-top: 0;
      }
    }

    .member {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-bottom: $body-bottom-margin;

      &:last-child {
        margin-bottom: 0;
      }

      .member-profile {
        width: 50%;
        padding-right: 25px;

        img {
          width: 100%;
        }
      }

      .member-description {
        padding-left: 25px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .member-name {
          margin-top: 0;
          margin-bottom: 14px;
          font-size: 28px;
        }

        p {
          margin-top: 0;
          font-size: 16px;
        }

        .member-info {
          width: 100%;
          display: flex;
          flex-direction: row;

          p {
            width: 50%;
            color: $general-grey;

            &:last-child {
              text-align: right;
            }
          }
        }
      }

      &--odd {
        .member-profile {
          padding-right: 0;
          padding-left: 25px;
          order: 2;
        }
        .member-description {
          padding-left: 0;
          padding-right: 25px;

          order: 1;
        }
      }

      @media (max-width: 830px) {
        display: block;

        .member-profile {
          width: 100%;
          padding: 0 50px;
          margin-bottom: 20px;
        }

        .member-description {
          width: 100%;
          padding: 0 50px;
        }
      }

      @media (max-width: 550px) {
        .member-profile {
          padding: 0 20px;
        }

        .member-description {
          padding: 0 20px;

          .member-info {
            display: block;

            p {
              width: 100%;
              text-align: left;

              &:last-child {
                text-align: left;
                margin-bottom: 14px;
              }
            }
          }
        }
      }

      @media (max-width: 450px) {
        display: block;

        .member-profile {
          padding: 0;
        }

        .member-description {
          padding: 0;
        }
      }
    }
  }
}

.staff-button-container {
  margin-top: 20px;
}

.recruiting-form,
.roles-sheet {
  margin: 20px 0;
  a {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    text-align: center;
    transition: 0.8s;
    opacity: 1;
  }

  a:hover {
    opacity: 0.6;
  }
}
