@import '_nav';
@import '_home';
@import '_about';
@import '_newsletter';
@import '_staff';
@import '_community';
@import '_designs';
@import '_footer';
@import '~font-awesome/css/font-awesome.min.css';
// @font-face(Futura, fonts/Futura);
@font-face {
  font-family: 'Proxima Nova';
  src: font-url('fonts/proximanova-regular-webfont.ttf') format('truetype');
}

.App {
  font-family: Helvetica, 'Proxima Nova', Futura;

  h3 {
    margin-top: 0;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
  }

  p {
    margin-top: 0;
    font-size: 14px;
    line-height: 1.4;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
* {
  box-sizing: border-box;
}

.body {
  padding: 15px 0;
  margin-bottom: $body-bottom-margin;
}
