@import url(~font-awesome/css/font-awesome.min.css);
.nav {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .nav .nav__links--hidden {
    visibility: hidden; }
  .nav .nav__links ul {
    margin: 28px 0;
    padding-left: 38px; }
    .nav .nav__links ul li {
      display: inline-block;
      margin-right: 20px; }
      .nav .nav__links ul li:last-child {
        margin-right: none; }
      .nav .nav__links ul li a {
        text-decoration: none;
        font-size: 13px;
        color: #333; }
        .nav .nav__links ul li a:hover {
          color: #a8a8a8; }
  .nav .nav__logo {
    display: flex;
    align-items: center;
    justify-content: center; }
    .nav .nav__logo img {
      height: 50px; }

.home .home-carousel {
  width: 100%;
  margin-bottom: 60px; }
  .home .home-carousel .home-carousel__slide {
    display: none; }
    .home .home-carousel .home-carousel__slide--active {
      display: block; }
    .home .home-carousel .home-carousel__slide img {
      width: 100%; }
  .home .home-carousel .home-carousel__btns ul {
    padding-left: 0;
    display: flex;
    justify-content: center; }
    .home .home-carousel .home-carousel__btns ul li {
      display: inline-block;
      list-style-type: none;
      width: 6px;
      height: 6px;
      margin-right: 15px;
      border-radius: 50%;
      background-color: #d3d3d3; }
      .home .home-carousel .home-carousel__btns ul li:hover {
        background-color: #808080;
        cursor: pointer; }
      .home .home-carousel .home-carousel__btns ul li:last-child {
        margin-right: 0; }
    .home .home-carousel .home-carousel__btns ul .home-carousel__btn--active {
      background-color: #808080; }
      .home .home-carousel .home-carousel__btns ul .home-carousel__btn--active:hover {
        cursor: default; }

.home .home-products {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 20px;
  margin-bottom: 60px; }
  .home .home-products .home-product {
    width: 33%;
    padding: 0 7px; }
    .home .home-products .home-product:first-child {
      padding-left: 0;
      padding-right: 14px; }
    .home .home-products .home-product:last-child {
      padding-right: 0;
      padding-left: 14px; }
    .home .home-products .home-product img {
      width: 100%; }
  @media (max-width: 500px) {
    .home .home-products {
      display: block; }
      .home .home-products .home-product {
        width: 100%;
        padding: 0 7px;
        margin-bottom: 7px; }
        .home .home-products .home-product:first-child {
          padding: 0 7px; }
        .home .home-products .home-product:last-child {
          padding: 0 7px;
          margin-bottom: 0; } }

.home .home-instafeed-container {
  text-align: center; }
  .home .home-instafeed-container .home-instafeed__title {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    .home .home-instafeed-container .home-instafeed__title span {
      padding: 0 15px; }
    .home .home-instafeed-container .home-instafeed__title div {
      background-color: #f7f7f8;
      height: 1px;
      width: 100%; }
  .home .home-instafeed-container .home-instafeed__scroll-container {
    padding: 0 20px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; }
    .home .home-instafeed-container .home-instafeed__scroll-container .home-instafeed {
      width: 200%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; }
      .home .home-instafeed-container .home-instafeed__scroll-container .home-instafeed .home-instafeed__img {
        width: 20%;
        padding: 20px; }
        .home .home-instafeed-container .home-instafeed__scroll-container .home-instafeed .home-instafeed__img img {
          width: 100%; }
          .home .home-instafeed-container .home-instafeed__scroll-container .home-instafeed .home-instafeed__img img:hover {
            opacity: 0.75; }
      @media (max-width: 1012px) {
        .home .home-instafeed-container .home-instafeed__scroll-container .home-instafeed {
          width: 250%; }
          .home .home-instafeed-container .home-instafeed__scroll-container .home-instafeed .home-instafeed__img {
            width: 25%; } }
      @media (max-width: 764px) {
        .home .home-instafeed-container .home-instafeed__scroll-container .home-instafeed {
          width: 330%; }
          .home .home-instafeed-container .home-instafeed__scroll-container .home-instafeed .home-instafeed__img {
            width: 33%; } }
      @media (max-width: 516px) {
        .home .home-instafeed-container .home-instafeed__scroll-container .home-instafeed {
          width: 500%; }
          .home .home-instafeed-container .home-instafeed__scroll-container .home-instafeed .home-instafeed__img {
            width: 50%; } }
      @media (max-width: 268px) {
        .home .home-instafeed-container .home-instafeed__scroll-container .home-instafeed {
          width: 1000%; }
          .home .home-instafeed-container .home-instafeed__scroll-container .home-instafeed .home-instafeed__img {
            width: 100%; } }

.about .about-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 60px;
  padding: 0 20px; }
  .about .about-body .about-description {
    width: 50%;
    padding-right: 20px; }
    .about .about-body .about-description h2 {
      margin-top: 0; }
    .about .about-body .about-description p {
      line-height: 1.4;
      font-size: 14px; }
  .about .about-body .about-video {
    width: 50%;
    padding-left: 15px; }

.about .about-contact {
  text-align: center;
  padding: 60px 0;
  background-color: #a8a8a8; }
  .about .about-contact p {
    font-size: 17px;
    color: white; }
    .about .about-contact p a {
      color: white; }

.community {
  width: 100%; }
  .community .community-headline-container {
    width: 100%;
    background-color: #a8a8a8;
    margin-bottom: 60px;
    padding: 60px 0; }
    .community .community-headline-container .community-headline {
      text-align: center;
      margin: 0 auto;
      width: 620px; }
      @media (max-width: 770px) {
        .community .community-headline-container .community-headline {
          width: 80%; } }
      @media (max-width: 500px) {
        .community .community-headline-container .community-headline {
          width: 90%; } }
      .community .community-headline-container .community-headline p {
        color: white;
        font-size: 17px;
        line-height: 1.8; }
  .community .missionary-body {
    padding: 0 20px; }
    .community .missionary-body .missionary-headline {
      width: 100%;
      margin-bottom: 60px; }
      .community .missionary-body .missionary-headline h3 {
        margin-top: 0; }
    .community .missionary-body .missionary {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-bottom: 60px; }
      .community .missionary-body .missionary:last-child {
        margin-bottom: 0; }
      .community .missionary-body .missionary .missionary-profile {
        width: 50%;
        padding-right: 25px; }
        .community .missionary-body .missionary .missionary-profile img {
          width: 100%; }
      .community .missionary-body .missionary .missionary-description {
        padding-left: 25px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .community .missionary-body .missionary .missionary-description h3 {
          margin-top: 0;
          margin-bottom: 14px; }
        .community .missionary-body .missionary .missionary-description p {
          margin-top: 0; }
        .community .missionary-body .missionary .missionary-description .missionary-info {
          width: 100%;
          display: flex;
          flex-direction: row; }
          .community .missionary-body .missionary .missionary-description .missionary-info p {
            width: 50%;
            color: #a8a8a8; }
            .community .missionary-body .missionary .missionary-description .missionary-info p:last-child {
              text-align: right; }
      .community .missionary-body .missionary--odd .missionary-profile {
        padding-right: 0;
        padding-left: 25px;
        order: 2; }
      .community .missionary-body .missionary--odd .missionary-description {
        padding-left: 0;
        padding-right: 25px;
        order: 1; }
      @media (max-width: 830px) {
        .community .missionary-body .missionary {
          display: block; }
          .community .missionary-body .missionary .missionary-profile {
            width: 100%;
            padding: 0 50px;
            margin-bottom: 20px; }
          .community .missionary-body .missionary .missionary-description {
            width: 100%;
            padding: 0 50px; } }
      @media (max-width: 550px) {
        .community .missionary-body .missionary .missionary-profile {
          padding: 0 20px; }
        .community .missionary-body .missionary .missionary-description {
          padding: 0 20px; }
          .community .missionary-body .missionary .missionary-description .missionary-info {
            display: block; }
            .community .missionary-body .missionary .missionary-description .missionary-info p {
              width: 100%;
              text-align: left; }
              .community .missionary-body .missionary .missionary-description .missionary-info p:last-child {
                text-align: left;
                margin-bottom: 14px; } }
      @media (max-width: 450px) {
        .community .missionary-body .missionary {
          display: block; }
          .community .missionary-body .missionary .missionary-profile {
            padding: 0; }
          .community .missionary-body .missionary .missionary-description {
            padding: 0; } }

.designs {
  width: 100%; }
  .designs .design-container {
    padding: 0 50px;
    width: 33vw;
    height: 33vw;
    display: inline-block;
    vertical-align: top; }
    .designs .design-container .design {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .designs .design-container .design:hover {
        cursor: pointer; }
      .designs .design-container .design img {
        width: 100%; }
        .designs .design-container .design img:hover {
          opacity: 0.7; }
      .designs .design-container .design .design-description h3 {
        margin-top: 0;
        margin-bottom: 14px; }
      .designs .design-container .design .design-description .design-description__release {
        color: #a8a8a8; }

.footer {
  border-top: 1px solid #f7f7f8;
  margin-bottom: 15px;
  padding: 0 20px;
  padding-top: 46px; }
  .footer .footer__info-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 100%; }
    .footer .footer__info-container .footer__info {
      width: 50%; }
      .footer .footer__info-container .footer__info .footer__info-text {
        font-size: 12px; }
      .footer .footer__info-container .footer__info--right {
        text-align: right; }
        .footer .footer__info-container .footer__info--right ul {
          margin-top: 0; }
          .footer .footer__info-container .footer__info--right ul li {
            text-decoration: none;
            list-style-type: none;
            display: inline-block;
            margin-right: 15px; }
            .footer .footer__info-container .footer__info--right ul li:last-child {
              margin-right: 0; }
            .footer .footer__info-container .footer__info--right ul li a {
              color: #333; }
              .footer .footer__info-container .footer__info--right ul li a:hover {
                color: #a8a8a8; }
  .footer .footer__copyright {
    text-align: center;
    font-size: 12px; }

@font-face (Futura, fonts/Futura);
@font-face {
  font-family: 'Proxima Nova';
  src: font-url("fonts/proximanova-regular-webfont.ttf") format("truetype"); }

.App {
  font-family: 'Proxima Nova', Futura; }
  .App h3 {
    margin-top: 0;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400; }
  .App p {
    margin-top: 0;
    font-size: 14px;
    line-height: 1.4; }
    .App p:last-child {
      margin-bottom: 0; }

* {
  box-sizing: border-box; }

.body {
  padding: 15px 0;
  margin-bottom: 60px; }
