@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .nav .nav__links--hidden {
    visibility: hidden; }
  .nav .nav__links ul {
    margin: 28px 0;
    padding-left: 38px; }
    .nav .nav__links ul li {
      display: inline-block;
      margin-right: 20px; }
      .nav .nav__links ul li:last-child {
        margin-right: none; }
      .nav .nav__links ul li a {
        text-decoration: none;
        font-size: 13px;
        color: #333; }
        .nav .nav__links ul li a:hover {
          color: #a8a8a8; }
  .nav .nav__logo {
    display: flex;
    align-items: center;
    justify-content: center; }
    .nav .nav__logo img {
      height: 50px; }

.home .home-carousel {
  width: 100%;
  margin-bottom: 10px; }
  .home .home-carousel .home-carousel__slide {
    padding: 0 10px;
    display: none; }
    .home .home-carousel .home-carousel__slide--active {
      display: block; }
    .home .home-carousel .home-carousel__slide img {
      width: 100%; }
  .home .home-carousel .home-carousel__btns ul {
    padding-left: 0;
    display: flex;
    justify-content: center; }
    .home .home-carousel .home-carousel__btns ul li {
      display: inline-block;
      list-style-type: none;
      width: 6px;
      height: 6px;
      margin-right: 15px;
      border-radius: 50%;
      background-color: #808080; }
      .home .home-carousel .home-carousel__btns ul li:hover {
        background-color: #d3d3d3;
        cursor: pointer; }
      .home .home-carousel .home-carousel__btns ul li:last-child {
        margin-right: 0; }
    .home .home-carousel .home-carousel__btns ul .home-carousel__btn--active {
      background-color: #d3d3d3; }
      .home .home-carousel .home-carousel__btns ul .home-carousel__btn--active:hover {
        cursor: default; }

.home .home-products {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .home .home-products .home-product {
    width: 33%;
    padding: 10px; }
    .home .home-products .home-product img {
      width: 100%; }

* {
  box-sizing: border-box; }

.body {
  padding: 20px; }
